<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <h1 class="mt-4">Product Admin Read Page</h1>

        <div class="form-group">
            <label>id</label>
            <input type="text" class="form-control" th:field="${dto.id}" readonly>
        </div>

        <div class="form-group">
            <label>상품명</label>
            <input type="text" class="form-control" th:field="${dto.name}" readonly>
        </div>
        <div class="form-group">
            <label>카테고리</label>
            <input type="text" class="form-control" th:field="${dto.brandName}" readonly>
        </div>
        <div class="form-group">
            <label>브랜드</label>
            <input type="text" class="form-control" th:field="${dto.cateName}" readonly>
        </div>
        <div class="form-group">
            <label>성별</label>
                <input type="text" class="form-control" th:field="${dto.gender}" readonly>
        </div>
        <div class="form-group">
            <label>가격</label>
            <input type="text" class="form-control" th:field="${dto.price}" readonly>
        </div>
        <div class="form-group">
            <label>수량</label>
            <input type="text" class="form-control" th:field="${dto.stock}" readonly>
        </div>
        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" th:field="${dto.nickName}" readonly>
        </div>

        <div class="form-group">
            <label>리뷰갯수</label>
            <input type="text" class="form-control" th:field="${dto.reviewCnt}" readonly>
        </div>

        <div class="form-group">
            <label>평균별점</label>
            <input type="text" class="form-control" th:field="${dto.avg}" readonly>
        </div>

        <div class="form-group">
            <label>등록일</label>
            <input type="text" class="form-control" th:field="${dto.regDate}"
            th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <div class="form-group">
            <label>수정일</label>
            <input type="text" class="form-control" th:field="${dto.modDate}"
                   th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <div class="uploadResult">
            <ul>
                <li th:each="productImage: ${dto.imageDTOList}" th:data-file="${productImage.getThumbnailURL()}">
                    <img th:if="${productImage.path != null}" th:src="|/display?fileName=${productImage.getThumbnailURL()}|">
                </li>
            </ul>
        </div>

        <button type="button" class="btn btn-primary">
            리뷰 개수 <span class="badge badge-light">[[${dto.reviewCnt}]]</span>
        </button>

        <button type="button" class="btn btn-info addReviewBtn">
            리뷰 등록
        </button>

        <a th:href="@{/product/modify(id = ${dto.id}, page=${requestDTO.page},
        type=${requestDTO.type},keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary">수정</button>
        </a>
        <a th:href="@{/product/list(page=${requestDTO.page},
        type=${requestDTO.type},keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-info">목록</button>
        </a>

        <a th:href="@{/order/register(id = ${dto.id}, page=${requestDTO.page},
        type=${requestDTO.type},keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary">주문하기</button>
        </a>

        <div class="list-group reviewList">

        </div>

        <!--<div class="mt-4">
            <h5><span class="badge badge-info addReply">댓글 등록</span> </h5>
            <h5><span class="badge badge-secondary replyCount">댓글 [[${dto.replyCount}]]</span> </h5>
        </div>
        <div class="list-group replyList">
        </div>-->


        <!--리뷰 모달-->
        <div class="reviewModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">리뷰</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>작성자</label>
                            <input class="form-control" type="text" name="mid">
                        </div>
                        <div class="form-group">
                            <label>평점<span class="grade"></span></label>
                            <div class="starrr"></div>
                        </div>
                        <div class="form-group">
                            <label>리뷰 작성</label>
                            <input class="form-control" type="text" name="text" placeholder="리뷰를 작성해주세요">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger removeBtn">삭제</button>
                        <button type="button" class="btn btn-warning modifyBtn">수정</button>
                        <button type="button" class="btn btn-primary reviewSaveBtn">저장</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <!--이미지 모달-->
        <div class="imageModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">사진</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            $(document).ready(function () {
                var id = [[${dto.id}]] //product

                //날짜 처리를 위한 함수
                function formatTime(str) {
                    var date = new Date(str);

                    return date.getFullYear() + '/' +
                        (date.getMonth()+1) + '/' +
                        date.getDate() + ' ' +
                        date.getHours() + ':' +
                        date.getMinutes();
                }


                /*리뷰 모달*/
                var grade = 0;
                var pid = id;

                $('.starrr').starrr({
                    rating: grade,
                    change: function (e, value) {
                        if (value) {
                            console.log("v" + value);
                            grade = value;
                        }
                    }
                });
                var reviewModal = $(".reviewModal");
                var inputMid = $('input[name="mid"]');
                var inputText = $('input[name="text"]');

                $(".addReviewBtn").click(function () {
                    inputMid.val("");
                    inputText.val("");

                    $(".removeBtn, .modifyBtn").hide();
                    $(".reviewSaveBtn").show();

                    reviewModal.modal('show');
                });

                $('.reviewSaveBtn').click(function () {

                    var data = {pid:pid, grade:grade, text:inputText.val(), mid: inputMid.val()};

                    $.ajax({
                        url: '/reviews/' + pid,
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType:"application/json; charset=utf-8",
                        dataType: "text",
                        success: function (result) {

                            console.log("Result :" + result);

                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                })

                //페이지가 열리면 바로 리뷰데이터 들을 가져와서 사용한다. reviewList
                function getProductReviews() {
                    function formatTime(str) {
                        var date = new Date(str);

                        return date.getFullYear() + '/' +
                            (date.getMonth()+1) + '/' +
                            date.getDate() + ' ' +
                            date.getHours() + ':' +
                            date.getMinutes();
                    }
                    $.getJSON("/reviews/"+pid+"/all", function (arr) {
                        var str ="";

                        $.each(arr, function (idx, review) {

                            console.log(review);

                            str += ' <div class="card-body" data-id='+review.reviewId+' data-mid='+review.mid+' data-grade='+review.grade+'>';
                            str += ' <h5 class="card-title">'+review.text+'</h5>';
                            str += ' <h6 class="card-subtitle mb-2 text-muted">'+review.nickname+'</h6>';
                            str += ' <p class="card-text">'+formatTime(review.regDate)+'</p>';
                            str += '</div>';
                        });
                        $(".reviewList").html(str);
                    });
                }
                getProductReviews();
                var reviewId;
                //리뷰 수정
                $(".reviewList").on("click", ".card-body", function () {

                    $(".reviewSaveBtn").hide();
                    $(".removeBtn, .modifyBtn").show();

                    var targetReview = $(this);

                     reviewId = targetReview.data("id");


                    console.log("reviewId: " + reviewId);
                    inputMid.val(targetReview.data("mid"));
                    inputText.val(targetReview.find('.card-title').clone().children().remove().end().text());

                   /* var grade = targetReview.find('.card-title span').html();*/
                    var grade = targetReview.data("grade");
                    console.log("g" +grade)
                    $(".starrr a:nth-child("+grade+")").trigger('click');


                    $('.reviewModal').modal('show');

                });

                $(".modifyBtn").on("click",function () {

                    var data = {reviewId: reviewId, pid:pid, grade:grade, text:inputText.val(), mid:inputMid.val()};

                    console.log(data);

                    $.ajax({
                        url:'/reviews/'+pid+"/"+reviewId,
                        type: "PUT",
                        data: JSON.stringify(data),
                        contentType:"application/json; charset=utf-8",
                        dataType:"text",
                        success: function (result) {
                            console.log("result :" + result);
                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                });

                $(".removeBtn").on("click",function () {

                    var data = {reviewId: reviewId};

                    console.log(data);

                    $.ajax({
                        url:'/reviews/'+pid+"/"+reviewId,
                        type: "DELETE",
                        contentType:"application/json; charset=utf-8",
                        dataType:"text",
                        success: function (result) {
                            console.log("result :" + result);
                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                });

                //섬네일 제공
                $(".uploadResult li").click(function () {

                    var file = $(this).data('file');

                    console.log(file);

                    $('.imageModal .modal-body').html("<img style='width:100%' src='/display?fileName="+file+"&size=1'>")
                    $(".imageModal").modal("show");
                });

            });
        </script>
    </th:block>
</th:block>
<body>

</body>
</html>