<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <h1 class="mt-4">마이페이지</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">상품명</th>
                <th scope="col">주문갯수</th>
                <th scope="col">주문날짜</th>
                <th scope="col">배달상태</th>
                <th scope="col">주문상태</th>
                <th scope="col">주문취소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto: ${result.dtoList}">
                <th scope="row">
                        [[${dto.productName}]]
                    </th>
                <td>[[${dto.count}]]</td>
                <td>[[${#temporals.format(dto.orderDate, 'yyyy/MM/dd')}]]</td>
                <td>[[${dto.orderStatus}]]</td>
                <td>[[${dto.deliveryStatus}]]</td>
                <td><a th:if="${dto.orderStatus.name() == 'ORDER'}"
                       href="#" th:href="'javascript:cancel('+${dto.orderId}+')'"
                       class="btn btn-danger">주문취소</a> </td>
            </tr>
            </tbody>

        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/member/myPage(page= ${result.start -1})}" tabindex="-1">Previous</a>
            </li>

            <li th:class="'page-item' + ${result.page == page?' active':''}"
                th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/member/myPage(page = ${page})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/member/myPage(page= ${result.end +1})}">Next</a>
            </li>
        </ul>

        <script th:inline="javascript">
            function cancel(orderId) {
                var form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "/member/myPage/orders/"+orderId+"/cancel")
                document.body.appendChild(form);
                form.submit();
            }
        </script>

    </th:block>
</th:block>
</html>